<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chatroom</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #12181b;
        color: hsl(209, 28%, 39%);
      }
      .row {
        margin-top: 50px;
      }
      .card {
        border: 0;
      }
      .message-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
      }

      .message--sent {
        justify-content: flex-end;
      }

      .message--received {
        justify-content: flex-start;
      }

      .message {
        max-width: 70%;
        padding: 5px 10px;
        border-radius: 10px;
      }

      .message p {
        margin: 0;
      }

      .message--sent .message {
        background-color: hsl(209, 61%, 8%);
        color: hsl(208.9, 73.6%, 28.2%);
      }

      .message--received .message {
        background-color: hsl(208.9, 73.6%, 28.2%);
        color: hsl(208.8, 61%, 8%);
      }

      .message-timestamp p {
        margin: 0;
        font-size: x-small;
      }
      #chatroom {
        height: 400px;
        overflow-y: auto;
      }
      .card-header {
        border: 0;
        background-color: #081521;
        color: hsl(209, 28%, 39%);
      }
      .card-body {
        border: 0;
        background-color: hsl(209, 61%, 16%);
        color: hsl(209, 28%, 39%);
      }
      .card-footer {
        border: 0;
        background-color: #081521;
        color: hsl(209, 28%, 39%);
      }
      .form-control {
        border: 0;
        background-color: hsl(209, 61%, 16%);
        color: hsl(209, 28%, 39%);
      }
      input[type="text"]:focus {
        outline: none;
        background-color: hsl(209, 61%, 16%);
        color: hsl(209, 55%, 66%);
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex flex-row justify-content-center">
        <div class="col-9">
          <div class="card">
            <div class="card-header">
              <h4 id="friendUsername"><%= friendUsername %></h4>
              <p id="username" style="display: none;"><%= user.username %></p>
            </div>
            <div class="card-body" id="chatroom">
              <% for (let i = 0; i < messages.length; i++) { %>
                <div class="message-container <%= (messages[i].sender.username === user.username) ? 'message--sent' : 'message--received' %>">
                  <div class="message">
                    <p><%= messages[i].message %></p>
                    <div class="message-timestamp">
                      <p><%= new Date(messages[i].timestamp).toLocaleTimeString() %></p>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="card-footer">
              <form>
                <div class="input-group">
                  <input type="text" name="message" id="message" class="form-control" placeholder="Type your message..." autocomplete="off" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="send">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/sendMessages.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
