<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chatroom</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style/chats.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex flex-row justify-content-center">
        <div class="col-9">
          <div class="card">
            <div class="card-header">
              <h4 id="friendUsername"><%= friendUsername %></h4>
              <p id="username" style="display: none;"><%= user.username %></p>
            </div>
            <div class="card-body" id="chatroom">
              <% for (let i = 0; i < messages.length; i++) { %>
                <div class="message-container <%= (messages[i].sender.username === user.username) ? 'message--sent' : 'message--received' %>">
                  <div class="message">
                    <p><%= messages[i].message %></p>
                    <div class="message-timestamp">
                      <p><%= new Date(messages[i].timestamp).toLocaleTimeString() %></p>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="card-footer">
              <form>
                <div class="input-group">
                  <input type="text" name="message" id="message" class="form-control" placeholder="Type your message..." autocomplete="off" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="send">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="back-btn">
        <div class="mt-5">
          <a href="/friends" class="btn">Back to Friends</a>
        </div>
        <div class="mt-5">
          <a href="/" class="btn">Back to Home</a>
        </div>
      </div>
      
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/sendMessages.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
