<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header.ejs') %>
    <title>My Friends</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="p-4 flex flex-col gap-4">
      <div class="max-w-6xl w-full mx-auto p-4 bg-neutral flex flex-col gap-4">
        <h2 class="text-3xl text-black font-bold">Friends</h2>
        <% if(user.friends.length > 0) { %>
        <div class="overflow-x-auto">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <% for(friend of user.friends) { %>
            <tbody>
              <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div>
                      <div class="font-bold"><%= friend.username %></div>
                    </div>
                  </div>
                </td>
                <td>
                  <a
                    href="/chat/<%= friend.userId %>"
                    class="btn btn-primary btn-xs"
                  >
                    Chat
                  </a>
                </td>
                <th>
                  <a
                    class="btn btn-primary btn-xs"
                    href="/profile/<%= friend.userId %>"
                    >details</a
                  >
                </th>
              </tr>
            </tbody>
            <% } %>
          </table>
        </div>
        <% } else { %>
        <div><p class="text-xl">You don't have any friends</p></div>
        <% } %>
      </div>
      <div class="max-w-6xl w-full mx-auto p-4 bg-neutral flex flex-col gap-4">
        <h2 class="text-3xl text-black font-bold">Friend Requests</h2>
        <% if(user.friendRequests.length > 0) { %>
        <div class="overflow-x-auto">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <% for(friendRequest of user.friendRequests) {%>
            <tbody>
              <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div>
                      <div class="font-bold"><%= friendRequest.username %></div>
                    </div>
                  </div>
                </td>
                <td>
                  <form
                    action="/friends/acceptRequest/<%= friendRequest.userId%>"
                    method="post"
                  >
                    <button type="submit" class="btn btn-primary btn-xs">
                      Accept Request
                    </button>
                  </form>
                </td>
                <th>
                  <a
                    class="btn btn-primary btn-xs"
                    href="/profile/<%= friendRequest.userId %>"
                    >details</a
                  >
                </th>
              </tr>
            </tbody>
            <% } %>
          </table>
        </div>
        <% } else { %>
        <div><p class="text-xl">You don't have any friend requests</p></div>
        <% } %>
      </div>
      <div>
        <a class="btn btn-primary" href="/friends/add-friends">Find Friends</a>
      </div>
    </div>
  </body>
</html>
