<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
    <title>Sign in Form</title>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <div class="p-4">
      <div class="p-4 md:p-8 max-w-3xl rounded-xl mx-auto bg-neutral">
        <form action="/auth/signup" method="post">
          <h1 class="text-3xl">Sign Up</h1>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Username</span>
              <% if(message) {%>
              <span id="statusMessage" class="label-text-alt text-error"
                ><%= message%></span
              >
              <% } %>
            </label>
            <input
              id="username"
              name="username"
              type="username"
              placeholder="Username"
              class="input input-bordered w-full"
              required
            />
          </div>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              name="email"
              type="email"
              placeholder="Email"
              class="input input-bordered w-full"
              required
            />
          </div>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Password</span>
              <% if(message) {%>
              <span class="label-text-alt text-error"><%= message%></span>
              <% } %>
            </label>
            <input
              name="password"
              type="password"
              placeholder="Password"
              class="input input-bordered w-full"
              required
            />
          </div>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Confirm Password</span>
              <% if(message) {%>
              <span class="label-text-alt text-error"><%= message%></span>
              <% } %>
            </label>
            <input
              name="confirmPassword"
              type="password"
              placeholder="Confirm password"
              class="input input-bordered w-full"
              required
            />
          </div>
          <button type="submit" class="btn btn-base-100 w-full mt-4">
            Sign Up
          </button>
        </form>
        <div class="mt-4">
          <span>
            Already have an account?
            <a class="text-primary" href="/auth/login">Sign In </a>
            here!!!.
          </span>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/checkUser.js"></script>
  </body>
</html>
